body{
    background-color: #fff;
}

table{
    border-collapse: collapse;
    position: relative;
    left: 385px;
}

tr > td:hover{
    background-color: #ddd;
}
td{
    padding: 5px;
}

#color{
    background-color: #007acc;
    font-size: 18px;

}

#contenedor{
    text-align: center;
    margin-top: 100px;
}
input{
    margin-bottom: 10px;
}

.a{
    text-align: center;
}
